:root {
  --primary-color: #8e44ad; /* Purple */
  --secondary-color: #9b59b6; /* Lighter Purple */
  --background-color: #f9f0ff; /* Very Light Purple */
  --text-color: #34495e; /* Dark Blue-Gray */
  --card-background: #ffffff;
  --shadow-color: rgba(142, 68, 173, 0.1); /* Purple-tinted shadow */

  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.App {
  background-color: var(--card-background);
  border-radius: 20px;
  box-shadow: 0 10px 30px var(--shadow-color);
  padding: 2rem;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  font-weight: 600;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px var(--shadow-color);
}

input[type='text'],
input[type='file'] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: var(--text-color);
  transition: all 0.3s ease;
}

input[type='text']:focus,
input[type='file']:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 0 3px rgba(142, 68, 173, 0.2); /* Purple-tinted focus ring */
}

.box {
  background-color: var(--card-background);
  border-radius: 15px;
  padding: 1.5rem;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px var(--shadow-color);
}

img {
  border-radius: 12px;
  box-shadow: 0 5px 15px var(--shadow-color);
  max-width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16 / 9;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.form-container {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 5px 15px var(--shadow-color);
  margin-bottom: 2rem;
}

.divider {
  height: 2px;
  background-color: #e0e0e0;
  margin: 2rem 0;
}
